<p id="notice"><%= notice %></p>
<p class="topicSubject"><%= @topic.subject %></p>


<div class="eachNote">
  <%= render @notes %>
</div>

<p><%= link_to 'New Note', new_note_path %><p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
